name: Build & Push Websidian (STAGING)

on:
  push:
    branches:
      - "feature/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_SECRET }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME//\//-}
          docker build -t ghcr.io/igorflp/websidian:$IMAGE_TAG .

      - name: Push image
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME//\//-}
          docker push ghcr.io/igorflp/websidian:$IMAGE_TAG
